<!DOCTYPE html>
<html lang="en">

    <head>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Aimex Software</title>

        <!-- CSS -->
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,100,300,500">
        <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" href="assets/font-awesome/css/font-awesome.min.css">
		<link rel="stylesheet" href="assets/css/form-elements.css">
        <link rel="stylesheet" href="assets/css/style.css">

        <!-- Favicon and touch icons -->
        <link rel="shortcut icon" href="assets/ico/favicon.png">
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="assets/ico/apple-touch-icon-144-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="assets/ico/apple-touch-icon-114-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="assets/ico/apple-touch-icon-72-precomposed.png">
        <link rel="apple-touch-icon-precomposed" href="assets/ico/apple-touch-icon-57-precomposed.png">

    </head>
    <body>
            
         <div class="top-nav">
                 <nav class="navbar navbar-toggleable-md navbar-light bg-faded">               
                         <a class="navbar-brand" href="#">AIMEX SOFTWARE</a>
                          <div class="collapse navbar-collapse" id="navbarNav">
                            <ul class="navbar-nav">
                              <li class="nav-item">
                                <a class="nav-link" href="#">JUAN DELACRUZ <span class="glyphicon glyphicon-user"></a>
                              </li>
                              <li class="nav-item">
                                 <ul class = "dropdown-menu">
                                   <li><a href = "#">Profile</a></li>
                                   <li><a href = "#">Loguout</a></li>
                                </ul>
                              </li>
                            </ul>
                          </div>
                        </nav>
            </div>

             <div id="manage-navbar">
                    <ul class="nav nav-tabs">
                      <li class="active"><a href="transactiontype.html"><span class="glyphicon glyphicon-envelope"></span>  APPLY</a></li>
                      <li class="dropdown"><a href="#"><span class="glyphicon glyphicon-cog"></span>  MANAGE</a>
                        <div class="dropdown-content">
                              <a href="#">COLLECT</a>
                              <a href="#">SEARCH</a>
                        </div>
                      </li>
                      <li><a href="transactionsummary.html"><span class="glyphicon glyphicon-edit"></span>  REPORT</a></li>
                      <li><a href="timelog.html"><span class="glyphicon glyphicon-calendar"></span>  TIME LOG</a></li>
                     </ul>
           </div>

           
        <div class="clientinfo">
               <div id="clientinfo-left">
                 <strong><h4>CLIENT INFORMATION</h4></strong>
                  <form action="/action_page.php">           
                      <div class="form-group">
                        <p>
                            CLIENT NAME: <input type="text" id="inputFirstName1" name="first_name" placeholder="JUAN">
                            <input type="text" id="inputLastName1" name="last_name" placeholder="DELACRUZ">
                            <br>CLIENT PHOTO:<input type="file" name="img">
                        </p>
                    </div>
                </div>

                <div id="clientinfo-right">
                    <div class="form-group">
                        PENSION AMOUNT:  <input type="text" id="pension_amount" name="pension_amount" placeholder="60,000">
                        AS OF:   <input type="date" name="as_of" id="as_of"><br>
                        PENSION TYPE:
                           <select name="pension_type">
                              <option value="SSS">SSS</option>
                              <option value="GSIS">GSIS</option>
                              <option value="PVAO">PVAO</option>
                              <option value="Foreign">FOREIGN</option>
                              <option value="Salary">SALARY</option>
                            </select>
                        WITHDRAWAL DATE:  <input type="date" id="withdrawal_date" name="withdrawal_date"> 
                    </div>
                </div>    
         </form>
        </div>

    <div id="personal_info">      
     <strong><h4>PERSONAL INFORMATION</h4></strong>
         <div id="personal_left">
                BIRTHDATE:  <input type="date" id="birthdate" name="birthdate"></br>
                ADDRESS:  <input type="text" id="address" name="address" placeholder="SAN FERNANDO, PAMPANGA"></br>
                CONTACT NUMBER:  <input type="text" id="contact_number" name="contact_number" placeholder="09123456789"></br>
                PENSION NUMBER:  <input type="text" id="pension_number" name="pension_number" placeholder="82764"></br>
                SPOUSE NAME:  <input type="text" id="spouse_name" name="spouse_name" placeholder="MARIA DELA CRUZ"></br>
                SPOUSE BIRTHDATE:  <input type="date" id="withdrawal_date" name="withdrawal_date"></br>
                BANK:   <select name="pension_type">
                                  <option value="UNIONBANK">UNIONBANK</option>
                                  <option value="BPI">BPI</option>
                                  <option value="METROBANK">METROBANK</option>
                                  <option value="BDO">BDO</option>
                                  <option value="LANDBANK">LANDBANK</option>
                                </select></br>
                BRANCH:  <input type="text" id="branch" name="branch" placeholder="APALIT"></br>
            </div>
        </div>

        <div id="employer_details">      
             <strong><h4>EMPLOYER DETAILS</h4></strong>
             <div class="employer">
                 EMPLOYMENT TYPE: <input type="text" id="employment_type" name="employment_type" placeholder="EMPLOYED"></br>
                 NAME OF EMPLOYER: <input type="text" id="employer_name" name="employer_name" placeholder="XYZ CORPORATION"></br>
                 POSITION/OCCUPATION: <input type="text" id="occupation" name="occupation" placeholder="FINANCIAL CONSULTANT"></br>
                 EMPLOYER ADDRESS: <input type="text" id="employer_address" name="employer_address" placeholder="COMMERCIAL BLDG., SAN FERNANDO, PAMPANGA"></br>
                 HOME TYPE: <input type="text" id="home_type" name="home_type" placeholder="OWNED"></br>
                 MONTHLY ELECTRICITY/WATER BILL: <input type="text" id="monthly_bill" name="monthly_bill" placeholder="12,000"></br>
            </div>
         </div>
         

        <div id="comaker">      
             <strong><h4>CO-MAKER/S</h4></strong>
                 <p><strong>CO-MAKER 1</strong></p>
                 <div class="comaker1">
                 FULL NAME: <input type="text" id="comaker1_name" name="comaker1_name" placeholder="CARMELIA DELACRUZ"></br>
                 ADDRESS: <input type="text" id="comaker1_address" name="comaker1_address" placeholder="312 APALIT"></br>
                 TELEPHONE NUMBER: <input type="text" id="comaker1_telno" name="comaker1_telno" placeholder="7162344"></br>         
                 RELATIONSHIP TO BORROWER: <input type="text" id="comaker1_relation" name="comaker1_relation" placeholder="MOTHER"></br>
                 </div>
             <br>

             <p><strong>CO-MAKER 2</strong></p>
             <div class="comaker2">
                 FULL NAME: <input type="text" id="comaker2_name" name="comaker2_name" placeholder="GRACIA DELACRUZ"></br>
                 ADDRESS: <input type="text" id="comaker2_address" name="comaker2_address" placeholder="312 APALIT"></br>
                 TELEPHONE NUMBER: <input type="text" id="comaker2_telno" name="comaker2_telno" placeholder="7162344"></br>         
                 RELATIONSHIP TO BORROWER: <input type="text" id="comaker2_relation" name="comaker2_relation" placeholder="SISTER"></br>
            </div>
        </div>

        <div id="references">      
             <strong><h4>OTHER PERSONAL REFERENCES</h4></strong>
             <p>(CLOSEST FAMILY MEMBER  OTHER THAN SPOUSE)</p>
             
             <p><strong>REFERENCE 1</strong></p>
             <div class="personal_reference1">
                 FULL NAME: <input type="text" id="pr1_name" name="pr1_name" placeholder="CHRISTINA DELACRUZ"></br>
                 ADDRESS: <input type="text" id="pr1_address" name="pr1_address" placeholder="312 APALIT"></br>
                 TELEPHONE NUMBER: <input type="text" id="pr1_telno" name="pr1_telno" placeholder="7162344"></br>         
                 RELATIONSHIP TO BORROWER: <input type="text" id="pr1_relation" name="pr1_relation" placeholder="MOTHER"></br>
            </div>

            <br>
            <p><strong>REFERENCE 2</strong></p>
             <div class="personal_reference2">
                 FULL NAME: <input type="text" id="pr2_name" name="pr2_name" placeholder="PAOLO DELACRUZ"></br>
                 ADDRESS: <input type="text" id="pr2_address" name="pr2_address" placeholder="312 APALIT"></br>
                 TELEPHONE NUMBER: <input type="text" id="pr2_telno" name="pr2_telno" placeholder="7162344"></br>         
                 RELATIONSHIP TO BORROWER: <input type="text" id="pr2_relation" name="pr2_relation" placeholder="BROTHER"></br>
            </div>
         </div>

        <div id="newclientapp_submit">
         <button type="button" class="btn btn-primary" id="transact-submit" type="submit">PROCEED TO CLIENT LOAN DETAILS</button>
        </div>

    <!-- Javascript -->
        <script src="assets/js/jquery-1.11.1.min.js"></script>
        <script src="assets/bootstrap/js/bootstrap.min.js"></script>
        <script src="assets/js/scripts.js"></script>
    </body>

</html>