<!DOCTYPE html>
<html lang="en">

    <head>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Aimex Software</title>

        <!-- CSS -->
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,100,300,500">
        <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" href="assets/font-awesome/css/font-awesome.min.css">
		<link rel="stylesheet" href="assets/css/form-elements.css">
        <link rel="stylesheet" href="assets/css/style.css">

        <!-- Favicon and touch icons -->
        <link rel="shortcut icon" href="assets/ico/favicon.png">
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="assets/ico/apple-touch-icon-144-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="assets/ico/apple-touch-icon-114-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="assets/ico/apple-touch-icon-72-precomposed.png">
        <link rel="apple-touch-icon-precomposed" href="assets/ico/apple-touch-icon-57-precomposed.png">

    </head>
    <body>
            
         <div class="top-nav">
                 <nav class="navbar navbar-toggleable-md navbar-light bg-faded">               
                         <a class="navbar-brand" href="#">AIMEX SOFTWARE</a>
                          <div class="collapse navbar-collapse" id="navbarNav">
                            <ul class="navbar-nav">
                              <li class="nav-item">
                                <a class="nav-link" href="#">JUAN DELACRUZ <span class="glyphicon glyphicon-user"></a>
                              </li>
                              <li class="nav-item">
                                 <ul class = "dropdown-menu">
                                   <li><a href = "#">PROFILE</a></li>
                                   <li><a href = "#">LOGOUT</a></li>
                                </ul>
                              </li>
                            </ul>
                          </div>
                        </nav>
            </div>

            <div id="manage-navbar">
                    <ul class="nav nav-tabs">
                      <li class="active"><a href="transactiontype.html"><span class="glyphicon glyphicon-envelope"></span>  APPLY</a></li>
                      <li class="dropdown"><a href="#"><span class="glyphicon glyphicon-cog"></span>  MANAGE</a>
                        <div class="dropdown-content">
                              <a href="#">COLLECT</a>
                              <a href="#">SEARCH</a>
                        </div>
                      </li>
                      <li><a href="transactionsummary.html"><span class="glyphicon glyphicon-edit"></span>  REPORT</a></li>
                      <li><a href="timelog.html"><span class="glyphicon glyphicon-calendar"></span>  TIME LOG</a></li>
                     </ul>
           </div>

        <div id ="loandetails-info">
        <strong><h4><span class="glyphicon glyphicon-tags"></span>  
        INSERT LOAN DETAILS</h4></strong>
        </div>
            
        <div class="clientinfo">
           <div id="clientinfo-left">
                 <strong><h4>CLIENT INFORMATION</h4></strong>
                  <div class="form-group">
                        <p>
                            CLIENT NAME: JUAN DELA CRUZ<br>
                            PENSION AMOUNT: 15,000.00<br>
                            PENSION TYPE: SSS

                        </p>
                    </div>
                </div>

                <div id="clientinfo-right">
                    <div class="form-group">
                        PENSION NUMBER: 82764<br>
                        WITHDRAWAL DATE: 5/15/2017<br>
                        BANK: UNIONBANK OF THE PHILIPPINES                       
                    </div>
                </div>    
         </form>
        </div>

         <div id="insert_loan_details">    
                <strong><h4>LOAN DETAILS</h4></strong>
                <div id="loandetails_left">
                    LOAN TYPE: <select name="pension_type">
                                      <option value="SSS">SSS</option>
                                      <option value="GSIS">GSIS</option>
                                      <option value="PVAO">PVAO</option>
                                      <option value="FOREIGN">FOREIGN</option>
                                      <option value="SALARY">SALARY</option>
                                    </select></br>

                    KIND OF LOAN: <select name="pension_type">
                                      <option value="NEW">NEW</option>
                                      <option value="RENEWAL">RENEWAL</option>
                                      <option value="ADDITIONAL">ADDITIONAL</option>
                                      <option value="EXTENSION">EXTENSION</option>
                                    </select></br>
                    LOAN AMOUNT: <input type="text" id="loan_amount" name="loan_amount"></br>
                    PAYMENT SCHEDULE: <input type="date" name="payment_schedule" id="payment_schedule"><br>

                </div>

                <div id="loandetails_mid">
                     PAYMENT TERMS (IN MONTHS): <select name="payment_terms">
                                      <option value="1">1</option>
                                      <option value="2">2</option>
                                      <option value="3">3</option>
                                      <option value="4">4</option>
                                      <option value="5">5</option>
                                      <option value="6">6</option>
                                      <option value="7">7</option>
                                      <option value="8">8</option>
                                      <option value="9">9</option>
                                      <option value="10">10</option>
                                      <option value="11">11</option>
                                      <option value="12">12</option>
                                      <option value="13">13</option>
                                      <option value="14">14</option>
                                      <option value="15">15</option>
                                      <option value="16">16</option>
                                      <option value="17">17</option>
                                      <option value="18">18</option>
                                      <option value="19">19</option>
                                      <option value="20">20</option>
                                      <option value="21">21</option>
                                      <option value="22">22</option>
                                      <option value="23">23</option>
                                      <option value="24">24</option>
                                    </select></br>
                    RELEASE DATE: <input type="date" name="release_date" id="release_date"><br>
                    EFFECTIVE DATE: <input type="date" name="effective_date" id="effective_date"><br>
                    REFERENCE CHEQUE: <input type="text" id="reference_cheque" name="reference_cheque"></br>

                </div>

                <div id="loandetails_right">
                    POST TO ACCOUNT: <input type="text" id="post_to_account" name="post_to_account"></br>
                    REMAINING MONTHS: <input type="text" id="remaining_months" name="remaining_months"></br>
                </div>
         </div>

         <div id="insert_loan_computation">    
                <strong><h4>LOAN COMPUTATION</h4></strong>
                
                <div id="loandetails_left">
                     INTEREST RATE (IN %):  
                     <select name="interest_rate" id="interest_rate">
                                      <option value="1.5">1.5</option>
                                      <option value="1.75">1.75</option>
                                      <option value="2">2</option>
                                      <option value="2.5">2.5</option>
                                      <option value="3">3</option>
                                      <option value="3.5">3.5</option>
                                      <option value="4">4</option>
                                      <option value="4.5">4.5</option>
                                      <option value="5">5</option>
                                      <option value="6">6</option>
                                      <option value="7">7</option>
                                    </select></br>
                </div>

                <div id="loandetails_mid">
                        SERVICE CHARGE:  
                        <select name="service_charge" id="service_charge">
                                      <option value="0">0</option>
                                      <option value="50">50</option>
                                      <option value="100">100</option>
                                      <option value="150">150</option>
                                      <option value="200">200</option>
                                      <option value="250">250</option>
                                  </select></br>
                </div>

                <div id="loandetails_right">
                    NOTARIAL FEE:  
                    <select name="notarial_fee" id="notarial_fee">
                                      <option value="0">0</option>
                                      <option value="50">50</option>
                                      <option value="100">100</option>
                                      <option value="150">150</option>
                                      <option value="200">200</option>
                                      <option value="250">250</option>
                                      <option value="500">500</option>
                                      <option value="1000">1000</option>
                                      <option value="1500">1500</option>
                                      <option value="2000">2000</option>
                                      <option value="2500">2500</option>
                                      <option value="3000">3000</option>
                                  </select></br>
                </div>
        </div>

        <div id="newclientapp_submit">
          <button type="button" class="btn btn-primary" id="transact-submit" type="submit">PROCEED TO CLIENT TRANSACTION SUMMARY</button>
        </div>

    <!-- Javascript -->
        <script src="assets/js/jquery-1.11.1.min.js"></script>
        <script src="assets/bootstrap/js/bootstrap.min.js"></script>
        <script src="assets/js/scripts.js"></script>
    </body>

</html>